* {
  margin: 0;
  font-family: Roboto;
  box-sizing: border-box;
}

.home-page {
  padding: 25px;
  background-color: #152850;
  height: 100vh;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-left: 15px;
  margin-right: 25px;
}

.login-btn {
  border: 1px solid whitesmoke;
  background-color: transparent;
  color: white;
  width: 100px;
  height: 40px;
  padding: 10px;
  font-weight: 500;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-heading {
  color: white;
  font-size: 42px;
  font-weight: bold;
  line-height: 4;
}

.digi-card {
  width: 500px;
}
